<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000000">
    <meta name="viewport"  content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>SEG商城</title>
    <link rel="stylesheet" href="{{url_for('static',filename='bundle.css')}}" />
</head>

<body>
    <div id="root" style="height:100%;"></div>
</body>
<script>
    var url = 'http://192.168.130.19:8080/seg/';
    var token = '';
</script>
<script src="{{url_for('static',filename='bundle.js')}}"></script>

</html>